.card {
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 15px;
    min-height: 125px;
}

.card.unavailable {
    opacity: 0.6;
    pointer-events: none;
}

.card.visited {
    border-left: 5px solid rgb(102, 187, 106);
}

.card.absent {
    border-left: 5px solid rgb(244, 67, 54);
}

.card.future {
    border-left: 5px solid rgba(0, 0, 0, 0.12);
}

.card.partial {
    border-left: 5px solid rgb(255, 167, 38);
}

.card.future,
.card.absent,
.card.visited,
.card.partial {
    opacity: 1;
    pointer-events: all;
}

.legend {
    width: 25px;
    height: 25px;
}

.legend.visited {
    background: rgb(102, 187, 106);
}

.legend.absent {
    background: rgb(244, 67, 54);
}

.legend.future {
    background: rgba(0, 0, 0, 0.12);
}

.legend.partial {
    background: rgb(255, 167, 38);
}

.card table th, .card table td {
    border: none !important;
}